[credentials]
# preservica credentials
username=user@example.com
password=123456
server=eu.preservica.com
# atom credentials
atom-api-key=123456788
atom-server=https://demo.accesstomemory.org
# search credentials
security-tag=open
search-collection=913a6bfd-874e-4cb0-8940-e1b0d2a583a7
new-collections=0c733043-4816-4d74-9492-906badc1bce0